@using Crisnamart.Domain

@code {
	[Parameter, EditorRequired]
	public required List<FooterColumn> Columns { get; set; }

	[Parameter, EditorRequired]
	public required List<IconoConEnlace> MediosDePago { get; set; }

	[Parameter, EditorRequired]
	public required List<IconoConEnlace> RedesSociales { get; set; }

	[Parameter, EditorRequired]
	public required List<IconoConEnlace> MediosDeContacto { get; set; }

	[Parameter, EditorRequired]
	public required FooterTrademark FooterTrademark1 { get; set; }

	private FooterColumn firstColumna => Columns.First();
	private int firstColumnaLength => firstColumna.Enlaces.Count;
}


<footer class="bg-gray-200 py-8">
	<div class="container mx-auto">

		<!-- Columnas principales -->
		<div class="flex flex-wrap justify-center md:gap-4 lg:gap-0 py-4 mb-6">

			<!-- Primera columna: doble o simple -->
			@if (firstColumnaLength > 2) {
				<div class="w-full md:w-full lg:w-1/3 flex flex-col gap-4 mb-6">
					<h6 class="mb-2 font-semibold">@firstColumna.Titulo</h6>
					<div class="flex flex-wrap justify-center">
						<div class="w-1/2">
							<ul class="flex flex-col gap-2">
								@foreach (var category in firstColumna.Enlaces.Take((firstColumnaLength + 1) / 2)) {
									<li><a href="#!" class="inline-block hover:text-green-600">@category.Titulo</a></li>
								}
							</ul>
						</div>
						<div class="w-1/2">
							<ul class="flex flex-col gap-2">
								@foreach (var category in firstColumna.Enlaces.Skip((firstColumnaLength + 1) / 2)) {
									<li><a href="#!" class="inline-block hover:text-green-600">@category.Titulo</a></li>
								}
							</ul>
						</div>
					</div>
				</div>
			} else {
				<div class="w-full md:w-full lg:w-1/3 flex flex-col gap-4 mb-6 text-center">
					<h6 class="mb-2 font-semibold">@firstColumna.Titulo</h6>
					<ul class="flex flex-col gap-2">
						@foreach (var category in firstColumna.Enlaces) {
							<li><a href="#!" class="inline-block hover:text-green-600">@category.Titulo</a></li>
						}
					</ul>
				</div>
			}

			<!-- Resto de columnas -->
			<div class="w-full md:w-full lg:w-2/3">
				<div class="flex flex-wrap justify-center">
					@foreach (var col in Columns.Skip(1)) {
						<div class="w-1/2 sm:w-1/2 md:w-1/4 flex flex-col gap-4 mb-6 text-center">
							<h6 class="mb-2 font-semibold">@col.Titulo</h6>
							<ul class="flex flex-col gap-2">
								@foreach (var link in col.Enlaces) {
									<li><a href="@link.Url" class="inline-block hover:text-green-600">@link.Titulo</a></li>
								}
							</ul>
						</div>
					}
				</div>
			</div>
		</div>


		<!-- Medios de pago y contacto -->
		<div class="border-t py-4 border-gray-300">
			<div class="flex flex-wrap items-center justify-between w-full">

				<!-- Medios de pago -->
				<div class="flex flex-col items-center md:flex-row gap-3 md:gap-6">
					@* <div class="text-gray-900 font-semibold">Medios de pago</div> *@
					<ul class="flex flex-row gap-4">
						@foreach (var medio in MediosDePago) {
							<li>
								<a href="@medio.Url" class="inline-flex items-center justify-center">
									<img src="@medio.ImagePath"
										 alt="@medio.Titulo"
										 class="object-contain" height="28" />
								</a>
							</li>
						}
					</ul>
				</div>

				<!-- Medios de contacto -->
				<div class="flex flex-col items-center md:flex-row gap-3 md:gap-6">
					<div class="text-gray-600 font-semibold">Contacto: </div>
					<ul class="flex flex-row gap-3">
						@foreach (var contacto in MediosDeContacto) {
							<li>
								<a href="@contacto.Url" class="inline-flex items-center justify-center">
									<img src="@contacto.ImagePath" alt="@contacto.Titulo"
										 class="object-contain" height="28" />
								</a>
							</li>
						}
					</ul>
				</div>
			</div>
		</div>


		<!-- Trademark y redes sociales -->
		<div class="border-t py-4 border-gray-300">
			<div class="flex flex-col md:flex-row items-center gap-3 justify-between">
				<div class="text-sm text-gray-500 text-center md:text-left">
					&copy; @DateTime.Now.Year @FooterTrademark1.Empresa
					<br /> @FooterTrademark1.Copyright
					<br />  @FooterTrademark1.Creditos
				</div>

				<div class="flex flex-row gap-5 items-center justify-center md:justify-end">
					<div class="text-gray-500 font-semibold">Síguenos en</div>
					<ul class="flex flex-row gap-3">
						@foreach (var red in RedesSociales) {
							<li>
								<a href="@red.Url"
								   class="inline-flex items-center justify-center">
									<img src="@red.ImagePath" alt="@red.Titulo"
										 class="object-contain h-full w-full" height="28" />
								</a>
							</li>
						}
					</ul>
				</div>
			</div>
		</div>

	</div>
</footer>
