@inherits LayoutComponentBase
@code{

	List<Domain.CategoriaModel> categorias = Domain.PrototipoContenido.GetCategorias();
	List<Domain.FooterColumn> footerColumns = Domain.PrototipoContenido.GetFooterColumns();
}



<NavBar Categorias=@categorias />


<!-- Main content -->
<main class="flex-grow-1 container mt-4">
	@Body
</main>


<Footer Columns="@Domain.PrototipoContenido.GetFooterColumns()"
		MediosDePago="@Domain.PrototipoContenido.GetMediosDePago()"
		RedesSociales="@Domain.PrototipoContenido.GetRedesSociales()"
		MediosDeContacto="@Domain.PrototipoContenido.GetMediosDeContacto()"
		FooterTrademark1="@Domain.PrototipoContenido.GetFooterParrafo()" />

