@* Components/CategoriasDestacadas.razor *@
<section class="mt-8">
    <div class="container">
        <div class="flex flex-wrap">
            <div class="w-full">
                <h2 class="text-lg absolute z-10">@Titulo</h2>
            </div>
        </div>

        <div class="swiper-container swiper"
             id="swiper-categorias"
             data-pagination-type=""
             data-speed="400"
             data-space-between="20"
             data-pagination="false"
             data-navigation="true"
             data-autoplay="true"
             data-autoplay-delay="3000"
             data-effect="slide"
             data-breakpoints='{"480": {"slidesPerView": 2}, "768": {"slidesPerView": 3}, "1024": {"slidesPerView": 6}}'>

            <div class="swiper-wrapper py-12">
                @foreach (var categoria in Categorias) {
                    <div class="swiper-slide">
                        <a href="@categoria.Link">
                            <div class="relative rounded-lg break-words border bg-white border-gray-300 transition duration-75 hover:transition hover:duration-500 ease-in-out hover:border-green-600 hover:shadow-md">
                                <div class="py-8 text-center">
                                    <img src="@categoria.ImagenUrl"
                                         alt="@categoria.Nombre"
                                         class="mb-3 m-auto" />
                                    <div class="text-base">@categoria.Nombre</div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>

            <div class="swiper-pagination"></div>
            <div class="swiper-navigation">
                <div class="swiper-button-next top-[28px]"></div>
                <div class="swiper-button-prev top-[28px] !right-0 !left-auto mx-10"></div>
            </div>
        </div>
    </div>
</section>

@code {
    [Parameter]
    public string Titulo { get; set; } = "Featured Categories";

    [Parameter]
    public List<Domain.CategoriaDestacadaModel> Categorias { get; set; } = new();
}
