@page "/"

<HeadContent>
	<title>Crisnamart - 2026</title>
</HeadContent>

<HomeSliderPromocional Slides="@Domain.PrototipoContenido.GetSlidePromocionalModelEjemplos()" />

<HomeCategoriasDestacados Categorias="@Domain.PrototipoContenido.GetCategoriaModelDestacadasEjemplos()" />

<HomePromocion Promociones="@Domain.PrototipoContenido.GetPromocionModelEjemplos()" />

<HomeProductosPopulares ProductosPopulares="@Domain.PrototipoContenido.GetLocalProductEjemplos()" />

<HomeDailyBestSells Items="@Domain.PrototipoContenido.GetProductCardModelEjemplos()" Banner="@Domain.PrototipoContenido.GetPromoBannerModelEjemplo()" />

<HomePropuestaDeValor Propuestas="@Domain.PrototipoContenido.GetPropuestaValorEjemplos()" />

<HomeModalProduct Product="@Domain.PrototipoContenido.GetProductDetailsModelEjemplo()" />
