@code {
    public string Titulo = "Categorias destacadas";

    [Parameter]
    public List<Domain.CategoriaModel> Categorias { get; set; } = new();
}



<section class="mt-8">
    <div class="container">
        <div class="flex flex-wrap">
            <div class="w-full">
                <h2 class="text-lg absolute z-10">@Titulo</h2>
            </div>
        </div>

        <swiper-container id="swiper-categorias"
                          slides-per-view="1"
                          space-between="20"
                          navigation="true"
                          pagination="false"
                          autoplay-delay="3000"
                          effect="slide"
                          breakpoints='{"480": {"slidesPerView":2}, "768": {"slidesPerView":3}, "1024": {"slidesPerView":6}}'>

            @foreach (var categoria in Categorias) {
                <swiper-slide>
                    <a href="@categoria.Link">
                        <div class="relative rounded-lg break-words border bg-white border-gray-300 transition duration-75 hover:transition hover:duration-500 ease-in-out hover:border-green-600 hover:shadow-md">
                            <div class="py-8 text-center">
                                <img src="@categoria.ImagenUrl"
                                     alt="@categoria.Nombre"
                                     class="mb-3 m-auto" />
                                <div class="text-base">@categoria.Nombre</div>
                            </div>
                        </div>
                    </a>
                </swiper-slide>
            }

            <div class="swiper-pagination"></div>
            <div class="swiper-navigation">
                <div class="swiper-button-next top-[28px]"></div>
                <div class="swiper-button-prev top-[28px] !right-0 !left-auto mx-10"></div>
            </div>
        </swiper-container>
    </div>
</section>