@code {
	public string Titulo = "Categorias destacadas";

	[Parameter]
	public List<Domain.CategoriaModel> Categorias { get; set; } = new();
}

<section class="mt-8 mb-12">
	<div class="container">
		<div class="flex flex-wrap">
			<div class="w-full">
				<h2 class="text-lg font-semibold mb-6">@Titulo</h2>
			</div>
		</div>

		<swiper-container id="swiper-categorias"
						  class="pb-6"
						  slides-per-view="1"
						  space-between="20"
						  navigation="true"
						  pagination="false"
						  autoplay-delay="3000"
						  effect="slide"
						  breakpoints='{"480": {"slidesPerView":2}, "768": {"slidesPerView":3}, "1024": {"slidesPerView":6}}'>

			@foreach (var categoria in Categorias) {
				<swiper-slide>
					<a href="@categoria.Link">
						<div class="relative rounded-lg break-words border bg-white border-gray-300 transition duration-75 hover:transition hover:duration-500 ease-in-out hover:border-green-600 hover:shadow-md">
							<div class="py-8 text-center">
								<img src="@categoria.ImagePath"
									 alt="@categoria.Titulo"
									 class="mb-3 m-auto" />
								<div class="text-base">@categoria.Titulo</div>
							</div>
						</div>
					</a>
				</swiper-slide>
			}

			<!-- pagination slot (if needed) -->
			<div slot="pagination" class="swiper-pagination"></div>

			<!-- navigation slots (wired to swiper element) -->
			<button slot="navigation-prev" class="swiper-button-prev top-[28px] !left-0">
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none" />
					<path d="M15 6l-6 6l6 6" />
				</svg>
			</button>
			<button slot="navigation-next" class="swiper-button-next top-[28px] !right-0">
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none" />
					<path d="M9 6l6 6l-6 6" />
				</svg>
			</button>
		</swiper-container>
	</div>
</section>
